$background: #191724;
$background-alt: #1f1d2e;
$background-alt2: #26233a;
$foreground: #e0def4;
$red: #eb6f92;
$yellow: #f6c177;
$orange: #ea9d34;
$green: #569f86;
$blue: #5a8fa5;
$blue2: #c4a7e7;
$magenta: #ebbcba;
$cyan: #9ccfd8;
