$background: #1e1e2e;
$background-alt: #313244;
$background-alt2: #45475a;
$foreground: #cdd6f4;
$red: #f38ba8;
$yellow: #f9e2af;
$orange: #fab387;
$green: #a6e3a1;
$blue: #89b4fa;
$blue2: #cba6f7;
$magenta: #f5c2e7;
$cyan: #89dceb;
