#backlight, #battery, #cpu, #disk, #idle_inhibitor, #keyboard-state,
#pulseaudio, #clock, #tags, #language, #memory, #network, #mode, #window, #workspaces, #temperature, #taskbar, #custom-update-count {
  box-shadow: 4px 4px 0 #c4a7e7;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 3px;
  margin-right: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background: #191724;
  border-radius: 0px;
}

* {
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #e0def4;
}

.modules-left, .modules-center, .modules-right {
  background: transparent;
  margin-top: 0px;
  border-radius: 0px;
  font-family: "InputMono", monospace;
  font-size: 15px;
  font-weight: 500;
}

.modules-left {
  margin-left: 2px;
}

.modules-right {
  margin-right: 2px;
}

#workspaces button {
  color: #4d466e;
  font-family: "Material Design Icons";
  font-weight: 700;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 26px;
  font-size: 17px;
  border-radius: 0;
  border: none;
  transition: none;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #c4a7e7;
}

#workspaces button.focused {
  color: #56949f;
}

#workspaces button.urgent {
  background-color: #eb6f92;
}

#workspaces button.occupied {
  color: #f6c177;
}

#mode {
  background-color: #191724;
  color: #e0def4;
  padding: 5px;
}

#tags button {
  color: #4d466e;
  font-family: "Source Han Sans JP";
  font-weight: 700;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 26px;
  font-size: 17px;
  border-radius: 0;
  border: none;
  transition: none;
}

#tags button.occupied {
  color: inherit;
}

#tags button:hover {
  color: #191724;
  background: #4d466e;
  box-shadow: none;
  text-shadow: none;
  transition: 0;
}

#tags button.focused {
  color: #191724;
  background: #e0def4;
}

#tags button.urgent {
  color: #eb6f92;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
tooltip {
  background: #191724;
  border-radius: 7px;
  font-family: "InputMono", monospace;
  font-weight: 500;
  font-size: 15px;
  padding: 20px;
  animation-name: fadein;
  animation-duration: 0.2s;
  border: 2px solid #4d466e;
  text-shadow: none;
  color: #e0def4;
}

tooltip label {
  color: #e0def4;
}

#tray {
  background: transparent;
  padding: 5px;
}

#tray menu {
  background: #191724;
  color: #e0def4;
  border-radius: 5px;
  border: 2px solid #4d466e;
  padding: 4px 0;
  font-family: "InputMono", monospace;
  font-weight: 500;
  font-size: 15px;
}
