* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, MaterialDesignIcons;
    font-size: 14px;
    min-height: 0;
    margin: 0 0px;
}

window#waybar {
    background-color: #1e1d2f;
    border-bottom: none;
    color: #d9e0ee;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    color: #d9e0ee;
    border-radius: 5px;
    /* background-color: transparent; 
    border-bottom: 3px solid transparent;
    */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: none;
    border-radius: 5px;
}

#workspaces button.focused {
    background-color: #d9e0ee;
    color: #1e1d2f;
    border-bottom: none;
    border-radius: 5px;
}

#workspaces button.urgent {
    background-color: #f28fad;
}

#mode {
    background-color: #302d41;
    border-bottom: 3px solid #d9e0ee;
}

#window
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,

#window {
  background-color: #1e1d2f;
  color: #f5c2e7;
  margin-left: 8px;
}

#clock {
    color: #1e1d2f;
    background-color: #d9e0ee;
}

#battery {
    background-color: #d9e0ee;
    color: #1e1d2f;
    margin-left: 0px;
}

#battery.charging {
    color: #1e1d2f;
    background-color: #d9e0ee;
}

@keyframes blink {
    to {
        background-color: #d9e0ee;
        color: #1e1d2f;
    }
}

#battery.critical:not(.charging) {
    background-color: #1e1d2f;
    color: #1e1d2f;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #1e1d2f;
}

#cpu {
    background-color: #d9e0ee;
    color: #1e1d2f;
}

#memory {
    background-color: #d9e0ee;
    color: #1e1d2f;
}

#backlight {
    background-color: #d9e0ee;
    color: #1e1d2f;
    margin-left: 0px;
}

#network {
    background-color: #d9e0ee;
    color: #1e1d2f;
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
}

#network.disconnected {
    background-color: #d9e0ee;
}

#pulseaudio {
    background-color: #d9e0ee;
    color: #1e1d2f;
    margin-left: 0px;
}

#pulseaudio.muted {
    background-color: #d9e0ee;
    color: #1e1d2f;
}

#custom-spotify {
    background-color: #1e1d2f;
    color: #abe9b3;
}

#temperature {
    background-color: #d9e0ee;
    color: #1e1d2f;
}

#temperature.critical {
    background-color: #f28fad;
}

#tray {
    background-color: #1e1d2f;
    margin-right: 4px;
}

#idle_inhibitor {
    background-color: rgba(0, 0, 0, 0);
    color: #d9e0ee;
    border-radius: 5px;
    margin-right: 2px;
}

#idle_inhibitor.activated {
    background-color: #d9e0ee;
    color: #1e1d2f;
    border-radius: 5px;
    margin-right: 2px;
}
